.about p {
    font-weight: normal;
}

.about svg {
    filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(94%) contrast(90%);
}

.about .stack {
    margin-top    : .2em;
    display       : flex;
    flex-direction: row;
    align-self    : center;
    overflow      : hidden;
    padding       : 1em 1em;
}

.about .stack img {
    width       : 24px;
    height      : 24px;
    margin-right: .5em;
    transition  : 0.3s ease-out;
}

.about .stack img:hover {
    transform: rotate(50deg);
}