.contact {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.contact h2 {
    font-size: 16px;
}

.contact p {
    font-size: 13px;
}

.contact button {
    font-weight     : bold;
    color           : #9f9f9f;
    background-color: #0c0c0c;
    padding         : 10px 20px;
    border          : 2px solid #6a6f77;
    border-radius   : 2px;
    margin          : 1em;
    cursor          : pointer;
}

.contact button:hover {
    background-color: #242424;
}