footer {
    margin-bottom: 1em;
}

footer p {
    color    : var(--secondary-color);
    font-size: 10px;
}

footer svg {
    max-width: 14px;
    filter   : invert(52%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(94%) contrast(90%);
}

footer svg:hover {
    filter: invert(37%) sepia(51%) saturate(6091%) hue-rotate(1deg) brightness(101%) contrast(107%);
}