.hero {
    display       : flex;
    flex-direction: column;
    gap           : .1em;

}

.hero h1 {
    font-size  : 26px;
    font-weight: bold;
}

.hero p {
    color      : var(--secondary-color);
    font-size  : 18px;
    font-weight: bold;
}

.links {
    margin-top    : .4em;
    display       : flex;
    flex-direction: row;
    gap           : .5em;
}

.links a {
    text-decoration: none;
    filter         : invert();
    transition     : .3s;
}

.links a:hover {
    filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(94%) contrast(90%);
}