.projects div {
    display         : flex;
    flex-direction  : column;
    gap             : .7em;
    padding         : 1.2em;
    margin-bottom   : 1em;
    background-color: var(--quaternary-color);
    border-radius   : 7px;
}

.projects div:hover {
    background-color: var(--tertiary-color);
}

.projects div h3 {
    font-size  : 14px;
    font-weight: bold;
    color      : var(--primary-color);
    width      : fit-content;
}

.hover-underline-animation {
    display : inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content         : '';
    position        : absolute;
    width           : 100%;
    transform       : scaleX(0);
    height          : 2px;
    bottom          : 0;
    left            : 0;
    background-color: #0c8f7e;
    transform-origin: bottom right;
    transition      : transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform       : scaleX(1);
    transform-origin: bottom left;
}

.projects div p {
    color    : var(--secondary-color);
    font-size: 14px;
}

.projects a {
    text-decoration: none;
    color          : var(--secondary-color);
    font-size      : 13px;
    font-weight    : bold;
    transition     : .3s;
    width          : fit-content;
}

.projects a:hover {
    color: var(--primary-color);
}

.projects a svg {
    filter      : invert(52%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(94%) contrast(90%);
    margin-right: .2em;
}

.all-repos {
    align-self: flex-end;
}

.all-repos svg {
    margin-left: .4em;
}

.all-repos svg:hover {
    filter: invert();
}